* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.grid-index {
  display: grid;
  grid-template: "header" "nav" "section-1" "section-2" "section-3" "subHome" "footer" / auto; }

p {
  margin-top: 0;
  margin-bottom: 0; }

h2 {
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 0; }

h4 {
  margin-bottom: 0;
  font-weight: 600; }

h5 {
  font-size: 80%;
  margin-bottom: 0;
  font-weight: 600; }

a {
  text-decoration: none; }

h3 {
  margin-bottom: 0;
  font-weight: 600; }

.imagenes-social-facebook {
  background: #12347c;
  margin: 5px;
  border-radius: 10px;
  box-shadow: black 0px 0px 7px 4px; }
  .imagenes-social-facebook a {
    display: flex; }

.imagenes-social-instagram {
  background: linear-gradient(50deg, #ffdc80 10%, #f77737 20%, #f77737 30%, #f56040 40%, #fd1d1d 50%, #e1306c 60%, #c13584 70%, #833ab4 80%, #5851db 90%, #405de6 100%);
  margin: 5px;
  border-radius: 10px;
  box-shadow: black 0px 0px 7px 4px; }
  .imagenes-social-instagram a {
    display: flex; }

.imagenes-social-twitter {
  background: #006a93;
  margin: 5px;
  border-radius: 10px;
  box-shadow: black 0px 0px 7px 4px; }
  .imagenes-social-twitter a {
    display: flex; }

header {
  grid-area: header;
  background: linear-gradient(90deg, #4a0000 0%, #890000 50%, #4a0000 100%);
  background-size: cover;
  background-position-x: center;
  background-position-y: center; }

.imagen-header {
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 0px auto -40px;
  max-width: 33%; }

.iconos-header {
  display: grid;
  grid-column-start: row;
  grid-template-columns: 50px 50px 50px;
  justify-content: end; }

.iconoss {
  margin-bottom: 5px;
  font-size: 30px; }

.fa-solid {
  color: #ffffff;
  cursor: pointer;
  filter: drop-shadow(0px 2px 2px #000000);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .fa-solid:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 8px 4px #000000); }

.fa-phone-flip {
  color: #030a10; }

.fa-envelope-circle-check {
  color: #030a10; }

.navbar {
  font-family: "Staatliches", cursive !important;
  font-size: 1.40rem !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important; }

.nav-link {
  padding: 0px; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0.7rem;
  margin-left: 0.7rem; }

.bg-danger {
  background-color: #230505 !important;
  box-shadow: #000000 0px 0px 20px 1px;
  position: sticky;
  width: -webkit-fill-available;
  top: 0;
  z-index: 9999; }

.navbar-light .navbar-brand {
  color: #3c0505 !important;
  text-shadow: 0px 0px 5px #000000; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffffe0;
  text-shadow: 0px 0px 5px #ff1a1a;
  background-image: linear-gradient(transparent 0%, transparent 90%, #680000 90%, #680000 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms; }
  .navbar-light .navbar-nav .nav-link:hover {
    background-size: 100% 100%;
    background-position-x: left; }

.navbar-light .navbar-toggler {
  background: linear-gradient(90deg, #5c5c5c 0%, #cdcdcd 50%, #535353 100%);
  border-radius: 0px;
  padding: 0px 13px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 5px; }
  .navbar-light .navbar-toggler:focus {
    box-shadow: none; }

.container-fluid {
  padding-right: var(--bs-gutter-x, 5px);
  padding-left: var(--bs-gutter-x, 5px); }

.navbar-brand {
  font-size: 1.45rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffffffe6; }

.form-control {
  padding: 5px 125px 5px 15px !important;
  background-color: #00000047; }

.form-label {
  margin-bottom: 0px; }

.btn-outline-success {
  color: #4a4a4a;
  border-color: #ffffff00;
  background-color: #aab2ac; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../imagenes/menu.png); }

.fondo-comic {
  display: flex;
  justify-content: space-around;
  background-color: #242424;
  padding: 15px 10px;
  box-shadow: #000000 inset 0px 0px 15px 5px; }

.fondo-imagenes {
  margin: 5px;
  width: calc(100%/5) !important;
  background-color: #040404;
  border-radius: 15px;
  box-shadow: #000000 0px 0px 15px 5px;
  border: groove 3px #d7d7d7;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
  .fondo-imagenes:hover {
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 8px;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  .fondo-imagenes img {
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px; }
  .fondo-imagenes p {
    color: #b5b5b5;
    font-size: 20px;
    padding: 7px 0px 0px 0px;
    text-align: center;
    font-family: "Staatliches", cursive; }

.body-fondo-imagenes {
  padding: 0px; }

.precio {
  background-color: #301100;
  border: outset #fd6a00;
  border-radius: 15px;
  cursor: pointer;
  color: #b33f00;
  margin: 15px 70px -10px;
  padding: 7px 18px;
  font-size: 20px;
  text-align: center;
  font-family: "Staatliches", cursive;
  text-shadow: 0px 0px 5px #000000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .precio:hover {
    -webkit-animation: pulsate 1s ease-in-out;
    animation: pulsate 1s ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 15px #ac4f0c, 0 0 30px #f73600;
    background-color: #602800; } }

.section-1 {
  grid-area: section-1; }

.marvel-text {
  box-shadow: #000000 inset 0px 0px 40px 25px;
  padding: 35px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-family: "Staatliches", cursive;
  color: #b00505;
  text-shadow: 0px 5px 2px #4d0000;
  background-image: url("../fondos/marvel.jpg");
  background-size: cover;
  background-attachment: fixed; }

.section-2 {
  grid-area: section-2; }

.dc-text {
  box-shadow: #000000 inset 0px 0px 40px 25px;
  padding: 35px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-family: "Staatliches", cursive;
  color: #0074da;
  text-shadow: 0px 5px 2px #001f3a;
  background-image: url("../fondos/dc.jpg");
  background-size: cover;
  background-attachment: fixed; }

.section-3 {
  grid-area: section-3; }

.text {
  box-shadow: #000000 inset 0px 0px 40px 25px;
  padding: 35px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-family: "Staatliches", cursive;
  color: #c5c5c5;
  text-shadow: 0px 5px 2px #111111;
  background-image: url("../fondos/fondo-main.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.text-all {
  box-shadow: black inset 0px 0px 40px 25px;
  padding: 35px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-family: "Staatliches", cursive;
  color: #ffffff;
  text-shadow: 0px 5px 2px #000000;
  background-image: url("../fondos/fondo1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

div img {
  width: 100%; }

.fondo-imagenes-libros {
  background-color: #080808;
  margin: 5px;
  border-radius: 0px 70px;
  width: calc(100%/5) !important;
  box-shadow: #000000 0px 0px 15px 5px;
  border: inset 3px #a7a7a7;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
  .fondo-imagenes-libros:hover {
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 13px 7px;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  .fondo-imagenes-libros img {
    border-radius: 0px 70px;
    max-width: 100%;
    max-height: 100%; }
  .fondo-imagenes-libros p {
    color: #b5b5b5;
    padding: 5px 0px 10px 0px;
    font-weight: 600;
    text-align: center;
    font-family: "Staatliches", cursive;
    font-size: 15px; }

.fondo-imagenes-merch {
  background-color: #080808;
  border-radius: 12px;
  margin: 5px;
  width: calc(100%/5) !important;
  box-shadow: #000000 0px 0px 15px 5px;
  border: groove 3px #a7a7a7;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
  .fondo-imagenes-merch:hover {
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 13px 7px;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  .fondo-imagenes-merch img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0%; }
  .fondo-imagenes-merch p {
    color: #b5b5b5;
    padding: 5px 0px 5px 0px;
    font-weight: 600;
    text-align: center;
    font-family: "Staatliches", cursive;
    font-size: 15px; }

.cartel {
  text-align: center;
  color: #da0000;
  background-color: #1a0909;
  padding: 2px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-family: "Staatliches", cursive;
  font-size: 20px; }

.cartel-sin-stock {
  position: absolute;
  margin-top: 40px;
  padding: 3px 10px;
  color: #890000;
  background-color: #e13030;
  box-shadow: #000000 3px 5px 6px 2px;
  font-family: "Staatliches", cursive;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 10px; }

.cartel-sin-stock-1 {
  position: absolute;
  padding: 3px 10px;
  color: #890000;
  background-color: #e13030;
  box-shadow: #000000 3px 5px 6px 2px;
  font-family: "Staatliches", cursive;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px; }

.cartel-poco-stock {
  position: absolute;
  margin-top: 40px;
  padding: 3px 10px;
  color: #541700;
  background-color: #e17e30;
  box-shadow: #000000 3px 5px 6px 2px;
  font-family: "Staatliches", cursive;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 10px; }

.cartel-poco-stock-1 {
  position: absolute;
  padding: 3px 10px;
  color: #541700;
  background-color: #e17e30;
  box-shadow: #000000 3px 5px 6px 2px;
  font-family: "Staatliches", cursive;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px; }

.imagenes-ofertas {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important; }

.precio-ofertas {
  background-color: #301100;
  border: outset #fd6a00;
  border-radius: 15px;
  cursor: pointer;
  color: #b33f00;
  margin: 15px 70px -10px;
  padding: 7px 18px;
  font-size: 25px;
  text-align: center;
  font-family: "Staatliches", cursive;
  text-shadow: 0px 0px 5px #000000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .precio-ofertas::before {
    content: "$999";
    font-size: 15px;
    text-decoration: line-through;
    color: #622503;
    padding: 3px; }

.precio-ofertas:hover {
  -webkit-animation: pulsate 1s ease-in-out;
  animation: pulsate 1s ease-in-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 15px #ac4f0c, 0 0 30px #f73600;
    background-color: #602800; } }

.subHome {
  grid-area: subHome;
  background: linear-gradient(90deg, #010013 0%, #023851 50%, #010013 100%);
  font-family: "Staatliches", cursive; }

.subContenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 50px 170px; }

.subContenido1 {
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 16px;
  max-width: 30%; }
  .subContenido1 h3 {
    font-size: 1.75rem; }
  .subContenido1 p {
    padding: 8px 0px;
    font-size: 16px;
    max-width: 100%; }

.subContenido2 {
  display: flex;
  height: 50px;
  margin-top: 40px;
  margin-left: 16px; }

.emailLargo {
  font-size: 14px;
  font-weight: 600 !important;
  border: 0;
  color: #000000;
  font-family: "Roboto", Arial, sans-serif;
  width: 500px;
  padding: 17px 15px;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.btnNew {
  display: block;
  text-indent: inherit;
  color: #fff;
  width: 140px;
  background-color: #9e0000;
  top: 0px;
  right: 0px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.main-contactos {
  background-image: url(../fondos/fondo-main.jpg);
  background-size: cover; }
  .main-contactos h2 {
    text-align: center;
    font-size: 70px;
    font-family: "Staatliches", cursive;
    color: #000000; }

.info-mapa {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 650px);
  justify-content: space-around;
  text-align: center;
  align-items: stretch; }

.info-personal {
  color: #9d9d9d;
  background-color: #000000b0;
  text-shadow: 0px 5px 5px #000000;
  border: solid;
  margin: 30px 0px;
  padding: 25px 135px;
  font-size: 25px;
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
  box-shadow: #9d9d9d 0px 0px 9px 3px;
  border-radius: 0% 10%; }

.textarea-personal {
  resize: none;
  padding: 0px 90px;
  outline: none;
  margin: 5px;
  font-size: small;
  line-height: initial;
  text-align: center;
  border-radius: 10px; }

.form-control-personal-1 {
  outline: none;
  padding: 5px 75px;
  margin: 5px;
  font-size: 15px; }

.form-control-personal {
  outline: none;
  padding: 3px 65px;
  margin: 5px;
  font-size: 18px; }

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0; }

.enviar-limpiar {
  text-indent: inherit;
  color: #fff;
  width: 140px;
  background-color: #9e0000;
  top: 0px;
  right: 0px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "Staatliches", cursive;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.mapa {
  color: #9d9d9d;
  background-color: #000000b0;
  text-shadow: 0px 5px 5px #000000;
  border: solid;
  margin: 30px 0px;
  padding: 35px 15px;
  font-size: 25px;
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
  box-shadow: #9d9d9d 0px 0px 9px 3px;
  border-radius: 10% 0%; }

.fa-angles, .fa-angles-up {
  margin: 0 49%;
  padding-top: 10px;
  display: grid;
  justify-content: center;
  color: #03004300;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .fa-angles:hover, .fa-angles-up:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0px 8px 5px #000000); }

.fa-angles-up {
  color: #9f9d91;
  font-size: 35px;
  padding: 0%;
  filter: drop-shadow(0px 2px 2px #000000);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

footer {
  grid-area: footer;
  box-shadow: inset black 0px 0px 6px 1px;
  background-color: #005a61; }
  footer img {
    margin: 3px;
    max-width: 40px;
    padding: 0%; }

.texto-footer {
  font-family: "Staatliches", cursive;
  text-align: center;
  font-size: 22px; }
  .texto-footer h2 {
    color: #000000;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 3px 5px #bdbdbd;
    margin-bottom: 0; }
  .texto-footer p {
    color: #000000; }
  .texto-footer span {
    color: #ffffff; }

.footer-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 340px 325px 325px 340px;
  align-items: start;
  justify-items: center; }

.redes {
  color: #003564;
  border: solid 5px;
  font-family: "Staatliches", cursive;
  font-size: 25px;
  text-align: center;
  padding: 10px 45px;
  margin: 10px;
  box-shadow: #000000 0px 2px 20px 1px;
  border-radius: 100px;
  background-color: #030a10;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .redes:hover {
    -webkit-animation: pulsate-button 1s ease-in-out;
    animation: pulsate-button 1s ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

@keyframes pulsate-button {
  0% {
    box-shadow: 0 0 15px #003564, 0 0 30px #009de0; } }

.redes h5 {
  padding-bottom: 10px;
  text-shadow: 0px 0px 10px #000000; }

.imagenes-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  animation: float-pagos 5s ease-in-out infinite; }

.pagos {
  margin: 5px;
  border-radius: 20px;
  box-shadow: black 0px 0px 7px 4px;
  animation-delay: 2s; }

@keyframes float-pagos {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-7px); }
  100% {
    transform: translateY(0); } }

.contactanos {
  color: #000000;
  text-align: left;
  font-family: "Staatliches", cursive;
  font-size: 23px;
  padding: 20px; }
  .contactanos h5 {
    font-size: 23px;
    text-shadow: 0px 0px 10px #508f94; }
  .contactanos p {
    color: #9f9f9f;
    display: inline-block;
    font-size: 20px; }

.newsletter {
  color: #000000;
  text-align: left;
  font-family: "Staatliches", cursive;
  padding: 20px; }
  .newsletter h5 {
    font-size: 23px;
    text-shadow: 0px 0px 10px #508f94; }

.name-email {
  outline: none;
  font-family: "Staatliches", cursive;
  font-size: 17px; }

.name-enviar {
  padding: 1px 10px;
  text-align: left;
  text-indent: inherit;
  color: #fff;
  background-color: #030a10;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "Staatliches", cursive;
  border-radius: 5px; }

.pago {
  color: #003564;
  border: solid 5px;
  font-family: "Staatliches", cursive;
  font-size: 25px;
  text-align: center;
  padding: 12px 30px;
  margin: 10px;
  box-shadow: black 0px 2px 20px 1px;
  border-radius: 100px;
  background-color: #030a10;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .pago:hover {
    -webkit-animation: pulsate-button 1s ease-in-out;
    animation: pulsate-button 1s ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

@keyframes pulsate-button {
  0% {
    box-shadow: 0 0 15px #003564, 0 0 30px #009de0; } }

.pago h5 {
  padding-bottom: 10px;
  text-shadow: 0px 0px 10px #000000; }

@media screen and (max-width: 767px) {
  .grid-index {
    display: grid;
    grid-template: "header" "nav" "section-1" "section-2" "section-3" "subHome" "footer" / auto; }
  .imagen-header {
    max-width: 100%;
    margin: 0%;
    padding: 5px; }
  .bg-danger {
    position: sticky;
    width: -webkit-fill-available;
    top: 0;
    z-index: 9999; }
  .card {
    background-color: #040404;
    border: groove 3px #d7d7d7;
    border-radius: 40px;
    box-shadow: black 0px 0px 15px 7px; }
    .card:not(:first-child) {
      display: none; }
  .carousel-control-next, .carousel-control-prev {
    background-color: #000000c2;
    width: 3%; }
  .carousel-item {
    padding: 15px;
    background-color: #242424;
    box-shadow: #000000 inset 0px 0px 20px 0px; }
  .card-img, .card-img-top {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px; }
  .card-body {
    padding: 0px; }
    .card-body p {
      color: #b5b5b5;
      font-size: 20px;
      padding: 7px 0px 0px 0px;
      text-align: center;
      font-family: 'Staatliches', cursive; }
  .marvel-text {
    padding: 5px 0px;
    font-size: 45px;
    box-shadow: #000000 inset 0px 0px 30px 20px;
    background-attachment: scroll;
    color: #bf0000; }
  .fondo-comic {
    display: none; }
  .fondo-imagenes {
    margin: 15px 0px; }
    .fondo-imagenes img {
      max-width: 100%;
      max-height: 100%; }
    .fondo-imagenes p {
      font-size: 25px;
      padding: 5px 0px 0px 0px; }
  .dc-text {
    padding: 5px 0px;
    font-size: 45px;
    box-shadow: #000000 inset 0px 0px 30px 20px;
    background-attachment: scroll;
    color: #0088ff; }
  .text {
    padding: 30px 0px;
    font-size: 45px;
    box-shadow: #000000 inset 0px 0px 30px 20px;
    background-attachment: scroll;
    color: #ffffff; }
  .text-all {
    padding: 5px 0px;
    font-size: 45px;
    box-shadow: #000000 inset 0px 0px 30px 20px;
    background-attachment: scroll;
    color: #ffffff; }
  .merch-text {
    font-size: 55px; }
  .fondo-imagenes-libros {
    margin: 25px 0px; }
    .fondo-imagenes-libros img {
      max-width: 100%;
      max-height: 100%; }
    .fondo-imagenes-libros p {
      font-size: 25px;
      padding: 5px 0px 0px 0px; }
  .imagen-libros {
    max-width: 266px;
    max-height: 345px; }
  .fondo-imagenes-merch {
    margin: 20px 0px; }
    .fondo-imagenes-merch img {
      max-width: 100%;
      max-height: 100%; }
    .fondo-imagenes-merch p {
      padding: 0px 0px 0px 0px;
      font-size: 20px; }
  .cartel {
    padding: 5px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px; }
  .cartel-sin-stock-1 {
    border-top-left-radius: 35px;
    margin: -2.5px; }
  .cartel-poco-stock-1 {
    border-top-left-radius: 35px;
    margin: -2.5px; }
  .subContenido {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    flex-direction: column;
    align-items: center; }
  .subContenido1 {
    max-width: 100%;
    text-align: center; }
    .subContenido1 h3 {
      font-size: 30px; }
    .subContenido1 p {
      padding: 10px 25px;
      font-size: 13px; }
  .subContenido2 {
    margin-top: 0px;
    margin-left: 0px; }
  .emailLargo {
    width: 170px; }
  .info-mapa {
    display: grid;
    grid-template-columns: auto;
    margin: 10px 1px; }
  .info-personal {
    margin: 0px 0px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    border-radius: 2%; }
  .textarea-personal {
    padding: 15px 45px;
    margin: 5px; }
  .mapa {
    display: none; }
  footer {
    box-shadow: inset #000000 0px 0px 6px 1px;
    background-color: #005a61; }
    footer img {
      margin: 3px;
      max-width: 40px;
      padding: 0%; }
  .texto-footer {
    font-size: 15px;
    padding: 10px; }
    .texto-footer h2 {
      font-size: 60px; }
    .texto-footer span {
      color: #ffffff; }
  .footer-1 {
    display: grid;
    grid-template-columns: auto; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-index {
    display: grid;
    grid-template: "header" "nav" "section-1" "section-2" "section-3" "subHome" "footer" / auto; }
  h2 {
    font-size: 100%; }
  .imagen-header {
    padding: 5px;
    margin: 0px auto -40px;
    max-width: 50%; }
  .bg-danger {
    position: sticky;
    width: -webkit-fill-available;
    top: 0;
    z-index: 9999; }
  .marvel-text {
    padding: 20px;
    font-size: 70px; }
  .dc-text {
    padding: 20px;
    font-size: 70px; }
  .text {
    padding: 20px;
    font-size: 70px; }
  .text-all {
    padding: 20px;
    font-size: 70px; }
  .fondo-imagenes p {
    font-size: 10px; }
  .precio {
    margin: 15px 25px -10px;
    font-size: 10px; }
  .fondo-imagenes-libros {
    margin: 0px; }
    .fondo-imagenes-libros p {
      font-size: 10px; }
  .fondo-imagenes-merch p {
    font-size: 10px; }
  .precio-ofertas {
    margin: 15px 25px -10px;
    font-size: 10px; }
    .precio-ofertas::before {
      font-size: 5px; }
  .info-personal {
    padding: 25px 10px;
    border: none;
    border-radius: 2%; }
  .mapa {
    border: none;
    border-radius: 2%; }
  .textarea-personal {
    padding: 0px 160px; }
  .info-mapa {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: none;
    justify-content: space-around;
    text-align: center;
    align-items: stretch; }
  .subContenido {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    flex-direction: column;
    align-items: center; }
  .subContenido1 {
    max-width: 100%;
    text-align: center; }
    .subContenido1 h3 {
      font-size: 35px; }
    .subContenido1 p {
      padding: 10px 0px;
      font-size: 15px; }
  .subContenido2 {
    margin-top: 0px;
    margin-left: 0px; }
  .emailLargo {
    width: 500px; }
  .texto-footer {
    font-size: 15px;
    padding: 10px; }
  .footer-1 {
    display: grid;
    grid-template-columns: auto; }
  .newsletter {
    padding: 0px;
    grid-area: 2 / 3 / 3 / 4; }
  .redes {
    grid-area: 1 / 2 / 2 / 3;
    margin: 3px 35px;
    padding: 10px 45px; }
  .contactanos {
    grid-area: 2 / 2 / 3 / 3; }
  .pago {
    grid-area: 1 / 3 / 2 / 4;
    margin: 3px 35px;
    padding: 10px 25px; } }

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .grid-index {
    display: grid;
    grid-template: "header" "nav" "section-1" "section-2" "section-3" "subHome" "footer" / auto; }
  h2 {
    font-size: 130%; }
  .bg-danger {
    position: sticky;
    width: -webkit-fill-available;
    top: 0;
    z-index: 9999; }
  .marvel-text {
    padding: 30px;
    font-size: 85px; }
  .dc-text {
    padding: 30px;
    font-size: 85px; }
  .text {
    padding: 30px;
    font-size: 85px; }
  .text-all {
    padding: 30px;
    font-size: 85px; }
  .fondo-imagenes p {
    font-size: 15px; }
  .precio {
    margin: 15px 35px -10px;
    font-size: 15px; }
  .fondo-imagenes-libros p {
    font-size: 15px; }
  .fondo-imagenes-merch p {
    font-size: 15px; }
  .precio-ofertas {
    margin: 15px 35px -10px;
    font-size: 15px; }
    .precio-ofertas::before {
      font-size: 10px; }
  .info-personal {
    padding: 25px 10px;
    border: none;
    border-radius: 2%; }
  .textarea-personal {
    resize: none;
    padding: 0px 145px; }
  .info-mapa {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: none;
    justify-content: space-around;
    text-align: center;
    align-items: stretch; }
  .mapa {
    border: none;
    border-radius: 2%; }
  .subContenido {
    padding: 25px 30px; }
  .emailLargo {
    width: 500px; }
  .footer-1 {
    grid-template-columns: 290px 220px 220px 290px; } }

@media screen and (min-width: 1700px) {
  .grid-index {
    display: grid;
    grid-template: "header" "nav" "section-1" "section-2" "section-3" "subHome" "footer" / auto; }
  .iconoss {
    font-size: 35px; }
  .bg-danger {
    position: sticky;
    width: -webkit-fill-available;
    top: 0;
    z-index: 9999; }
  nav ul li {
    font-size: 30px; }
  .marvel-text {
    font-size: 115px; }
  .fondo-imagenes p {
    font-size: 25px; }
  .precio {
    font-size: 25px; }
  .dc-text {
    font-size: 115px; }
  .text {
    font-size: 115px; }
  .fondo-imagenes-libros p {
    font-size: 25px; }
  .fondo-imagenes-merch p {
    font-size: 25px; }
  .precio-ofertas {
    font-size: 25px; }
  .info-personal {
    padding: 10px 90px;
    font-size: 35px; }
  .form-control-personal {
    font-size: 20px;
    padding: 3px 100px; }
  .textarea-personal {
    font-size: 20px;
    padding: 0 60px; }
  .mapa {
    padding: 65px 0px;
    font-size: 35px; }
  .subContenido {
    padding: 50px 0px; }
  .subContenido1 {
    max-width: 40%; }
    .subContenido1 h3 {
      font-size: 2.10rem; }
    .subContenido1 p {
      font-size: 20px; }
  .subContenido2 {
    height: 70px;
    margin-top: 30px;
    margin-left: 40px; }
  .emailLargo {
    font-size: 20px; }
  .btnNew {
    width: 180px;
    font-size: 20px; }
  .texto-footer {
    font-size: 30px; }
    .texto-footer h2 {
      font-size: 70px; }
  .footer-1 {
    grid-template-columns: 460px 375px 375px 460px; }
  .redes {
    font-size: 35px;
    padding: 20px 85px; }
  .contactanos {
    font-size: 33px; }
    .contactanos h5 {
      font-size: 33px; }
    .contactanos p {
      font-size: 30px; }
  .newsletter h5 {
    font-size: 33px; }
  .name-email {
    font-size: 27px; }
  .name-enviar {
    font-size: 30px; }
  .pago {
    font-size: 35px;
    padding: 25px 65px; } }
