.navbar {
	font-family: $font-family !important;
	font-size: 1.40rem !important;
	padding-top: 0.1rem !important;
	padding-bottom: 0.1rem !important;
}
.nav-link {
	padding: 0px;
}
.navbar-expand-lg {
	.navbar-nav {
		.nav-link {
			padding-right: 0;
			padding-left: 0;
			margin-right: 0.7rem;
			margin-left: 0.7rem;
		}
	}
}
.bg-danger {
	background-color: #230505 !important;
	box-shadow: $black-color 0px 0px 20px 1px;
	position: sticky;
	width: -webkit-fill-available;
	top: 0;
	z-index: 9999;
}
.navbar-light {
	.navbar-brand {
		color: #3c0505 !important;
		text-shadow: 0px 0px 5px $black-color;
	}
	.navbar-nav {
		.nav-link {
			color: #ffffffe0;
			text-shadow: 0px 0px 5px #ff1a1a;
			background-image: linear-gradient(transparent 0%, transparent 90%,#680000 90%,#680000 100%);
			background-repeat: no-repeat;
			background-size: 0% 100%;
			background-position-x: right;
			transition: background-size 300ms;
			&:hover {
				background-size: 100% 100%;
				background-position-x: left;
			}
		}
	}
	.navbar-toggler {
		background: linear-gradient(90deg, #5c5c5c 0%, #cdcdcd 50%, #535353 100%);
		border-radius: 0px;
		padding: 0px 13px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 5px;
		&:focus {
			box-shadow: none;
		}
	}
}
.container-fluid {
	padding-right: var(--bs-gutter-x, 5px);
	padding-left: var(--bs-gutter-x, 5px);
}
.navbar-brand {
	font-size: 1.45rem !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
	color: #ffffffe6;
}
.form-control {
	padding: 5px 125px 5px 15px!important;
	background-color: #00000047;
}
.form-label {
	margin-bottom: 0px;
}
.btn-outline-success {
	color: #4a4a4a;
	border-color: #ffffff00;
	background-color: #aab2ac;
}
.navbar-light .navbar-toggler-icon {
	background-image: url(../imagenes/menu.png)
}
